@import url('https://fonts.googleapis.com/css?family=Roboto|Shadows+Into+Light|Permanent+Marker');

/* Table of contents: 

- General
- Typography
- Grid
- Header & Navigation
- Main
- Images & Media

*/

/* ----- General ----- */

body, main, nav, header {
    margin: 0;
    padding: 0;
}

/* ----- Typography ----- */

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

/* -----    Grid    ----- */

.container{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: .5fr 9.5fr;
    grid-template-areas: 
                "nav hd hd"
                "nav main main";
    width: 100vw;
    height: 100vw;
}

/* ----- Header & Navigation ----- */

nav {
    grid-area: nav;
    background-color: #111;
}

nav ul {
    list-style: none;
}

ul li {
    text-align: center;
}

li a{
    color: #fff;
    text-decoration: none;
}

header {
    grid-area: hd;
}

/* ----- Main ----- */

main {
    grid-area: main;
    background-color: #d9d9d9;
}

/* ----- Beer Section ----- */

.beerButton {
    margin: 1%;
}

#keg, svg {
    max-width: 40vw;
    max-height: 40vh;
    margin: 1%;
}

/* ----- Bartenders Section ----- */

.bartenderSvg{
    width: 10vw;
}

#blackboard{
    position: absolute;
    top: 5vh;
    left: 68vw;
    width: 30vw;
}

#woodenBar{
    position: absolute;
    top: 50vh;
    width: 70vw;
    left: 15vw;
}

#bartendersContainer{
    float: left;
    padding: 3vw;
    text-align: center;
    color: white;
}

#bartendersWrapper{
    position: absolute;
    top: 20vh;
    left: 15vw;
}

.diamonds{
    width: 2vw;
   
    display: block;
    margin-left: auto;
    margin-right: auto ;
    margin-bottom: 3vh;
    z-index: 10;
}

#dcolour{
    z-index: 10;

}

#blackboardDiv{
    font-family: 'Permanent Marker', cursive;
    color: white;
    position: absolute;
    left: 68vw;
    top: 3vh;
    text-align: justify;
}

#row1, #row2{
    position: relative;
    margin: 0 1vw 0;
    display: inline-block;
   
}

.topBeer, #topBeersTitle{
    position: relative;
    z-index: 20;
    margin-right: 1vw;
    padding-bottom: 2vh;
}

#topBeersTitle{
    padding-left: 2vw;
    padding-bottom: 0;
    font-size: 20px;
}